/**********************LESSONS**********************/

.all-lessons {
  display: flex;         
  gap: 20px;               
  flex-wrap: wrap;        
  justify-content: center; 
}

.lessons {
  flex: 1 1 300px;     
  border: 2px solid var(--primary-color); 
  border-radius: 12px;
  padding: 20px;
  box-sizing: border-box; 
  text-align: center;
}

.lessons > h2{
  text-align: center;
}

.lessons-prices>p{

 color: var(--primary-color);
}

.lessons-information{
  text-align: center;
  margin-top: 20px;
}

.contact-link{
   color: var(--text-color);
  text-decoration: none;
  font-weight: 500;
  border: var(--primary-color) 2px solid;
  padding: 8px 15px;
  display: inline-block;
  width: 150px;
  text-align: center
}

.contact-link:hover {
  color: var(--primary-color);
 
   background-color: var(--secondary-color);

}

@media screen and (max-width: 768px) {
  .all-lessons {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  .lessons {
    flex: 1 1 90%; 
    padding: 15px;
  }

  .lessons > h2 {
    font-size: 1.5rem;
  }

  .lessons-prices > p {
    font-size: 1.2rem;
  }

 .contact-link {
    width: 150px;       
    font-size: 1.3rem;  
    padding: 12px 25px; 
  }
}
