/**********************TRAINING**********************/
.training-links {
  display: flex;
}
.training-links a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 500;
}
.training-card {
  flex: 1;
  text-align: center;
}

.training-card img {
  width: 70%;
  height: 50%; 
  object-fit: cover; 
  border-radius: 12px;
  border: 2px solid var(--primary-color);
}

@media screen and (max-width: 768px) {
  .training-links {
    flex-direction: column;
    gap: 15px;
    align-items: center;   
  }

  .training-card {
    width: 90%;   
  }

  .training-card img {
    width: 100%;  
    height: auto; 
  }

  .training-card a {
    font-size: 1.1rem;  
  }
}
