<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}Innae
			{% endblock %}
		</title>
		<link rel="icon" href="{{asset('logo.png')}}" type="image/png">
		 {% block stylesheets %}{% endblock %}
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Lily+Script+One&display=swap" rel="stylesheet">
		<script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
		<link rel="stylesheet" href="{{ asset('styles/app.css') }}">
		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</head>
	<body>
		{% block header %}
			{% include "header.html.twig"%}
		{% endblock %}
		{% block main %}{% endblock %}
		{% block footer %}
			{% include "footer.html.twig"%}
		{% endblock %}
	</body>
</html>
